{% extends 'base.html.twig' %}

{% block body %}
    <div id="app" class="section">
        <Citation></Citation>
        <div class="container">
            <h1 class="title is-1 has-text-centered">
                {{ 'Ticketing' | trans | upper }}
            </h1>
        </div>
        <Reservation language="{{ app.request.locale }}"></Reservation>
        <h3 class="has-text-centered is-3 title">{{ 'Find us'|trans }}</h3>
        <gmap-map
                :center="center"
                :zoom="14"
                map-type-id="terrain"
                style="width: 95%; height: 500px; margin: 0 auto"
        >
            <gmap-marker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    :clickable="true"
                    :draggable="true"
                    @click="center=m.position"
            ></gmap-marker>
        </gmap-map>
    </div>
{% endblock %}
